.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.content {
  display: flex;
  justify-content: space-between;
  align-items: end;
  gap: 30px;
}

.result {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 16px;
}

.result__video-container {
  position: relative;
  max-inline-size: 711px;
  max-block-size: 386px;
}

.result__video {
  object-fit: cover;
  object-position: center;
  inline-size: 100%;
  block-size: 100%;
}

.search-form {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}

.search-form__fieldset {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  border: none;
  inline-size: 100%;
}

.search-form__label {
  display: block;
  border: 1px solid #1b1919;
  padding: 1px;
}

.search-form__fieldset-title {
  color: #fff;
  font-family: 'Fira Sans Condensed';
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  line-height: normal;
}

.search-form__textfield {
  padding: 0;
  display: block;
  border: none;
  border-block-start: solid 1px #fff;
  border-block-end: solid 1px #fff;
  color: #fff;
  font-family: 'Fira Sans Condensed';
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  line-height: normal;
  background-color: #1b1919;
  appearance: none;
  inline-size: 225px;
  block-size: 27px;
}

.search-form__textfield::placeholder {
  color: rgba(255 255 255 / 0.7);
  font-family: 'Fira Sans Condensed';
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  line-height: normal;
  appearance: none;
}

.search-form__checkbox-list {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.search-form__label:has(.search-form__checkbox) {
  display: flex;
  align-items: center;
  gap: 5px;
}

.search-form__pseudo-checkbox {
  display: block;
  border: 1px solid #fff;
  cursor: pointer;
  inline-size: 19px;
  block-size: 19px;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::after {
  content: '';
  display: block;
  margin: 1px 0 0 1px;
  background-color: #fff;
  inline-size: 15px;
  block-size: 15px;
}

.search-form__label:has(
    .search-form__textfield:focus-visible,
    .search-form__checkbox:focus-visible
  ) {
  border-color: #fff;
}

.search-form__label-text {
  color: #fff;
  font-family: 'Fira Sans Condensed';
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  line-height: normal;
  cursor: pointer;
}

.search-form__label:hover .search-form__label-text {
  text-decoration: underline;
}

.button {
  border: 1px solid #fff;
  color: #fff;
  font-family: 'Fira Sans Condensed';
  font-weight: 700;
  font-size: 18px;
  font-style: normal;
  line-height: normal;
  text-align: center;
  background-color: transparent;
  cursor: pointer;
  inline-size: 100%;
  block-size: 34px;
}

.search-form__submit-button {
  align-self: flex-end;
  min-inline-size: 194px;
}

.search-form__textfield:focus,
.search-form__textfield:focus-visible,
.search-form__checkbox:focus,
.search-form__checkbox:focus-visible,
.button:focus,
.button:focus-visible {
  outline: none;
}

.button:focus-visible {
  border: 3px double #fff;
}

.button:hover {
  text-decoration: underline;
}

.button:active {
  background-color: #545050;
}

.title {
  font-family: Oswald, sans-serif;
  font-weight: 700;
  font-size: 75px;
  font-style: normal;
  line-height: 94%;
  text-transform: uppercase;
}

.content__accent {
  color: #545050;
}

.content__details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 26px;
  align-self: flex-start;
  min-inline-size: 400px;
  block-size: 100%;
}

.content__list {
  position: relative;
  overflow: auto;
  max-block-size: 298px;
}

.content__list::-webkit-scrollbar {
  display: none;
}

.content__list-item {
  margin-bottom: 30px;
}

.content__card-link {
  display: block;
  text-decoration: none;
}

.content__card-link:focus {
  outline: none;
}

.content__card-link:focus-visible {
  border: 1px solid #fff;
  outline: none;
}

.content__card-link:hover {
  color: #fff;
  text-decoration: underline;
}

.content__card-link:active,
.content__card-link_current {
  background-color: #545050;
}

/*-Дополненные после review далее правила автоматически растягивают высоту карточки в зависимости от длины текста,
но  подготовленная раметка HTML и JS, как мне кажется, не позволяют настроить полноценное обтекание 
изображения текстом и под текстом остаётся пустое пространство
-Удалось создать вариант разметки и скорректировать JS(закоментированы) в результате чего 
визуально обтекание выглядить более красиво, но осознаю, что при этом нарушается семантика - 
заголовок <h2> переноситься с оформлением в параграф <p> в виде <span> блочного типа. 
В получившемся варианте можно заменить <p> на <div>, а <span> на <h2> без изменения остального, но опять же, 
есть сомнения, что и такой вариант семантически корректен 
*/

.content__video-card {
  display: flex;
  justify-content: space-between;
  padding: 2px;
}

.content__video-card-description-container {
  color: #fff;
  inline-size: 100%;
}

.content__video-card-title {
  margin-block-end: 6px;
  font-family: Oswald;
  font-weight: 700;
  font-size: 30px;
  font-style: normal;
  line-height: 1;
  text-transform: uppercase;
  /*display: block; /*свойство для альтернативного варианта article закоментированного в HTML и JS*/
}

.content__video-card-description {
  font-family: 'Fira Sans Condensed';
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  line-height: 0.9;
  word-break: break-all;
  inline-size: 100%;
}

.content__video-card-thumbnail {
  display: block;
  object-fit: cover;
  object-position: center;
  min-inline-size: 194px;
  block-size: 103px;
  /*float: right; /*свойство для альтернативного варианта article закоментированного в HTML и JS*/
  /*margin-left: 2px; /*свойство для альтернативного варианта article закоментированного в HTML и JS*/
}
